{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
  .dropshadow {
  text-shadow: 2px 2px 4px #000000; /* Horizontal offset, vertical offset, blur radius, and color */
}
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2 class="dropshadow">
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5 dropshadow">
        {{config.date|safe}}<br>
        {{config.location|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{{ components.section("Organizers") }}
{{ components.subsection("Program Chairs") }}
{{ components.organizergroup(program_chairs) }}
{{ components.subsection("Award Chairs") }}
{{ components.organizergroup(award_chairs) }}
{{ components.subsection("Industry Chairs") }}
{{ components.organizergroup(industry_chairs) }}
{{ components.subsection("Inclusion Chairs") }}
{{ components.organizergroup(inclusion_chairs) }}
{{ components.subsection("Workshop Chairs") }}
{{ components.organizergroup(workshop_chairs) }}
{{ components.subsection("Finance Chairs") }}
{{ components.organizergroup(finance_chairs) }}

{{ components.subsection("General Chairs") }}

{{ components.organizergroup(general_chairs) }}


{% endblock %}
